body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  font-family: sans-serif;
}

.employee {
  border: 1px solid lightgray;
  padding: 4px;
  margin-bottom: 2px;
  width: 200px;
}

input {
  margin-left: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid lightgray;
  padding: 5px;
  border-radius: 4px;
  width: 150px;
}

.highlight {
  background-color: yellowgreen;
}
